{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">
                </h1>

                <!-- Blog Post -->
                {% for article in articles %}
                    <div class="card mb-4">
                        <div class="card-footer text-muted m-0 p-0">
                            <div class="card-header row m-0 ">
                                <div class="col-6 d-flex justify-content-start inline-block">
                                  <a href="/authorsView/{{ article.author.id }}">{{ article.author.name }}</a>
                                </div>
                                <div class="col-6 d-flex justify-content-end inline-block">
                                    {{ article.date|date("Y/m/d") }}
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <h2 class="card-title text-center">{{ article.title }}</h2>
                                {% if article.image != null %}
                                    <img class="card-img-top" src="{{ asset('images/' ~  article.image ) }}" style="height: 300px; width: 750px" alt="Something is not right">
                            {% endif %}

                            <p class="card-text block-with-text">{{ article.content }}</p>
                            <div class="row card-text mb-3">
                                {% set tags = article.tags|split(' ') %}
                                {% for tag in tags|slice(0, 5) %}
                                    <div class="col"><a href="/tags/{{ tag }}">{{ tag }}</a></div>
                                {% endfor %}
                            </div>
                            <div class=" row m-0 ">
                                <div class="col-6 d-flex justify-content-start inline-block">
                                    <a href="/current/{{ article.id }}" class="btn btn-primary">Read More</a>
                                </div>
                                {% if app.request.cookies.has(article.id) %}
                                <div class="col-6 d-flex justify-content-end inline-block">
                                        <a href="/{{ article.id }}" class="btn btn-primary disabled">Like</a>
                                        <a href="/{{ article.id }}"
                                           class="btn disabled">{{ article.votes }}</a>
                                    {% else %}
                                    <div class="col-6 d-flex justify-content-end inline-block">
                                        <a href="/{{ article.id }}" class="btn btn-primary ">Like</a>
                                        <a href="/{{ article.id }}"
                                           class="btn disabled">{{ article.votes }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#                <!-- Pagination -->#}
                {#                <ul class="pagination justify-content-center mb-4">#}
                {#                    <li class="page-item">#}
                {#                        <a class="page-link" href="#">&larr; Older</a>#}
                {#                    </li>#}
                {#                    <li class="page-item disabled">#}
                {#                        <a class="page-link" href="#">Newer &rarr;</a>#}
                {#                    </li>#}
                {#                </ul>#}

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

{#                <!-- Search Widget -->#}
{#                <div class="card my-4">#}
{#                    <h5 class="card-header">Search</h5>#}
{#                    <div class="card-body">#}
{#                        <div class="input-group">#}
{#                            <input type="text" class="form-control" placeholder="Search for...">#}
{#                            <span class="input-group-append">#}
{#                <button class="btn btn-secondary" type="button">Go!</button>#}
{#              </span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Tags</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 page-footer bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}