{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">Articles</h1>

    <div class="container d-flex ml-9 mr-0">
        <div class="row w-75 align-self-start ">
            {% for article in articles %}
                <div class="container m-3" id="conainterInterior">
                    <div class="col-12 border p-3 m-3 text-center">

                        <div class="card-header row m-0 ">
                            <div class="col-6 d-flex justify-content-start inline-block">
                                {{ article.articlesAuthors.authorsName }}
                            </div>
                            <div class="col-6 d-flex justify-content-end inline-block">
                                {{ article.articlesDate|date("Y/m/d") }}
                            </div>
                        </div>
                        <div class="card-header">
                            {{ article.articlesTitle }}
                        </div>
                        <div class="block-with-text   " style="height: 100px">
                            {{ article.articlesContent }}

                        </div>
                        <br>
                        <div class="mt-2">
                            <hr>
                            <a href="/current/{{ article.articlesId }}" class="btn btn-primary">See all</a>

                            {{ article.articlesVotes }}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="row w-25 mr-0 align-self-end ">
            {% for article in articlesVotes %}

                <div class="col-12 text-center" ><a href="#"> {{ article.articlesTitle }}</a>
                    - {{ article.articlesVotes }}
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}