{% extends 'base.html.twig' %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <img src="{{ asset('logoheader2.png') }}">
                </div>
            </div>
        </div>
    </header>

    <div class="container pt-5 mt-5">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">


                <!-- Blog Post -->
                {% for article in articles %}
                <div class="card mb-4 mt-4 body">
                    <div class="card-footer text-muted m-0 p-0">
                        <div class="card-header row m-0 navbar-light bg-light shadow">
                            <div class="col-6 d-flex justify-content-start inline-block">
                                <a href="/authorsView/{{ article.author.id }}">{{ article.author.name }}</a>
                            </div>
                            <div class="col-6 d-flex justify-content-end inline-block">
                                {{ article.date|date("Y/m/d") }}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title text-center">{{ article.title }}</h2>
                        {% if article.image != null %}
                            <img class="card-img-top rounded mx-auto d-block"
                                 src="{{ asset('images/' ~  article.image ) }}" style="height: 400px; width: 100%"
                                 alt="Something is not right">
                        {% endif %}

                        <p class="card-text block-with-text">{{ article.content }}</p>
                        <div class="row card-text mb-3 text-muted">
                            {% set tags = article.tags|split(' ') %}
                            {% for tag in tags|slice(0, 6) %}
                                <div class="col ">
                                    <a class="text-primary "  href="/tags/{{ tag }}">{{ tag }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class=" row m-0 ">
                            <div class="col-6 d-flex justify-content-start inline-block"  style="height: 40px">
                                <a href="/current/{{ article.id }}/{{ article.tags }}/{{ article.author.id }}"
                                   class="btn btn-outline-dark my-2 my-sm-0">Read More</a>
                            </div>
                            {% include 'likeScript.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}


        </div>

        <!-- Sidebar Widgets Column -->

        <!-- /.row -->

    </div>
    <!-- /.container -->
    </div>
    <!-- Footer -->
    <footer class="py-5 page-footer bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

{% endblock %}