{% block like %}
{% if app.request.cookies.has(article.id) %}

<div class="col-6 d-flex justify-content-end inline-block">



    <div class="btn disabled" id="votes-{{ article.id }}">{{ article.votes }} Points</div>

    {% else %}
    <div class="col-6 d-flex justify-content-end inline-block">
        <div class="dropdown">
            <select  name="vote" id="vote-{{ article.id }}" class="form-control input-md vote">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
        <a  class="btn btn-primary " id="likeBtn-{{ article.id }}">Vote!</a>
        <div  class="btn disabled"   id="votes-{{ article.id }}">{{ article.votes }} Points</div>
        {% endif %}
       {% endblock %}
<script>
    $(document).on('click', 'a#likeBtn-{{ article.id }}', function(){
        var points = $('#vote-{{ article.id }}').val();
        console.log(points);
        $.ajax({
            url:'{{ (path('liked')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": {{ article.id }},
                "value" : points
            },
            async: true,
            success: function (data)
            {


                $('div#votes-{{ article.id }}').html(data.likes + ' Points');
                $('#likeBtn-{{ article.id }}').hide();
                $('#vote-{{ article.id }}').hide();
            }
        });
        return false;
    });
</script>