{% extends 'base.html.twig' %}

{% block title %}Influencer's Article{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-footer text-muted m-0 p-0">
                <div class="card-header row m-0 ">
                    <div class="col-6 d-flex justify-content-start inline-block">
                        {{ article.author.name }}
                    </div>
                    <div class="col-6 d-flex justify-content-end inline-block">
                        {{ article.date|date("Y/m/d") }}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h2 class="card-title text-center">{{ article.title }}</h2>
                {% if article.image != null %}
                    <img class="card-img-top" src="{{ asset('images/' ~  article.image ) }}"
                         alt="Something is not right">
                {% endif %}
                <p class="card-text ">{{ article.content }}</p>
                <div class="row card-text mb-3 text-muted">
                    {% set tags = article.tags|split(' ') %}
                    {% for tag in tags|slice(0, 10) %}
                        <div class="col "><a href="/tags/{{ tag }}">{{ tag }}</a></div>
                    {% endfor %}
                </div>
                <div class=" row m-0 ">
                    <div class="col-6 d-flex justify-content-start inline-block">
                        <a href="/" class="btn btn-primary">Back</a>
                    </div>
                    <div class="col-6 d-flex justify-content-end inline-block">

                        {% include 'likeScript.html.twig' %}
                    </div>
                </div>
                {% if article.votes == 0 %}
                <div class="row m-0">
                    <div class="col d-flex justify-content-center inline-block">
                        <a href="{{ path('edit', {
                            id: article.id }) }}" class="btn btn-primary">Edit</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div>Same author</div>
                {% for article in articlesAuthor %}
                    <div class="col-4">{{ article.title }}</div>
                {% endfor %}
                <br>
            </div>
            <div class="row text-center">
                <div>Same tag</div>
                {% for article in articlesTags %}
                    <div class="col">
                        {{ article.title }}
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>

{% endblock %}

